{% extends 'basic.html' %}
{% block title %} About {% endblock title %}
{% block body %}
{% load static %}
 <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p><b>HY, my name is muhammad ikram alam .I am a student of INTERMEDIATE in DJ science college . I spend more time in this feild , i have lot of experience to design and development of webpages, website and webapps</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'assets/img/profile-img.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>UI/UX Designer &amp; Web Developer.</h3>
            <p class="fst-italic">
              <b>Technologies stack<b>:<br>
              Front-end: Html , CSS, Javascript, bootstrap, JQuery, React etc.<br>
              Back-end: Python, django, node, javascript, ajax etc.<br>
              Database: PostgreSQL, MongoDB, MySQL.<br>
              Version Management: Git
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>12 AUGUST 2005</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>PUBLISH <b>none</b></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+92 3324038258</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>KARACHI, PAKISTAN</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>18</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>INTERMEDIATE</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>PhEmailone:</strong> <span>ikramalam515@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              Why me?</b><br>
              <br>
              - Quality work<br>
              - Have with 100% positive feedback<br>
              - I care about my work and my client's satisfaction<br>
              - Flexible Timing<br>
              Feel free to contact me if you have any questions!<br>
              Regards <br>
              IKRAM ALAM<br>
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

{% endblock body %}